input,
textarea {
    border: none;
    outline: none;
    padding: var(--spacing-2) var(--spacing-4);
    color: var(--text-color-base);
    background-color: transparent;
}

input::placeholder{
    color: var(--text-color-light);
}

textarea{
    display: flex;
    height: 100%;
    resize: none;
    color: var(--text-color-base);
}

label {
    font-weight: bold;
    color: var(--text-color-light);
}

input:-webkit-autofill  {
    background-color: transparent !important
    ;
}

input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset; 
} 

